.title-about-padding {
    width: 100%;
    height: 6vh;
    background-color: var(--white);
    z-index: -1;
}

.about-me {
    background-color: var(--black);
    position: block;
    width: 100%;
    height: max-content;
    pointer-events: none;
}

.about-title-text-wrapper {
    background-color: var(--white);
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title-text {
    font-family: 'Prata', serif;
    font-size: calc(3vw);
    color: var(--white);
    width: max-content;
    mix-blend-mode: difference;
}

.about-title-text-wrapper .about-title-text {
    margin-right: 20vw;
}













.about-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vw;
    mix-blend-mode: difference;
}

.about-text {
    font-family: 'Prata', serif;
    font-size: calc(1.5vw);
    color: var(--black);
    width: max-content;
}

.about-me-letter {
    font-family: 'Prata', serif;
    font-size: calc(1.5vw);
    color: var(--white);
    width: max-content;
    opacity: 0.4;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.about-me-letter.show {
    opacity: 1;


    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
