.footer {
    background-color: var(--red);
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    transition: background-color 600ms linear;
}

.footer-grid {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--footer-cols), var(--footer-length));
    grid-template-rows: repeat(var(--footer-rows), var(--footer-length));
    overflow: hidden;
}

.text-grid {
    z-index: 10;
    pointer-events: none;
    color: var(--white);
    transition: color 600ms linear;
    font-family: 'Playfair Display', serif;
}

.footer-grid .square {
    background-color: var(--black);
    width: var(--footer-length);
    height: var(--footer-length);
    pointer-events: all;
    border: 1px solid var(--black);
    overflow: hidden;
}

.footer-grid .email {
    grid-area: 1 / 6 / 3 / 16;
    font-size: 6vw;
    pointer-events: all;
    font-family: 'Playfair Display', serif;
}

.footer-grid .click {
    grid-area: 3 / 6 / 4 / 9;
}

.footer-grid .website {
    grid-area: 4 / 2 / 5 / 4;
}

.footer-grid .github {
    grid-area: 4 / 4 / 5 / 6;
}

.footer-grid .socials {
    grid-area: 3 / 13 / 4 / 16;
}

.footer-grid .made-by {
    grid-area: 4 / 6 / 5 / 16;
    font-family: 'Prata', serif;;
}

.footer-grid .matter-link {
    grid-area: 4 / 16 / 5 / 18;
}

.footer-grid .anime-link {
    grid-area: 4 / 18 / 5 / 20;
}

.text-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.footer-grid a {
    color: var(--white);
    text-decoration: none;
    transition: color 600ms linear;
    cursor: pointer;
    pointer-events: all;
}