:root {
    --black: #121113;
    --blue: #227c9d;
    --green: #17c3b2;
    --yellow: #ffcb77;
    --white: #fef9ef;
    --red: #fe6d73;
    --ghost-red: rgba(254, 109, 115, 0.5);
    --ghost-white: rgba(254, 249, 239, 0.8);
    --ghost-black: rgba(18, 17, 19, 0.7);
    --ghost: rgba(254, 249, 239, 0.2);
    --spec-cols: 34;
    --spec-rows: 60;
    --spec-length: 3vw;
    --project-cols: 60;
    --project-rows: 30;
    --ghost-border: 2px solid var(--ghost);
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    pointer-events: none;
    /* cursor: none; */
}

::webkit-scrollbar {
    width: 0;
}

.hidden {
    display: none;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    width: 5em;
    height: 5em;
    background-color: var(--white);
    mix-blend-mode: difference;
}

.cursor.show {
    opacity: 1;
}

.cursor-icon {
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cursor-icon.show {
    opacity: 1;
}

#arrow-down img {
    width: 70%;
    height: 70%;
    animation: bounce 1s infinite alternate;
}

#pointer img {
    width: 70%;
    height: 70%
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.second-page {
    background-color: var(--black);
}

.page-padding {
    width: 100%;
    aspect-ratio: 10 / 1;
    background-color: var(--black);
}

#matter-container {
    pointer-events: all;
    background-color: var(--black);
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 0;
}

.matter-greyscale {
    grid-area: 1 / 1 / -1 / -1;
    background-color: rgba(0, 0, 0, 1);
    mix-blend-mode: saturation;
    z-index: -5;
    pointer-events: none;
}
