:root {
    --black: #121113;
    --blue: #227c9d;
    --green: #17c3b2;
    --yellow: #ffcb77;
    --white: #fef9ef;
    --red: #fe6d73;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--white);
    scrollbar-width: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::webkit-scrollbar {
    width: 0;
}

.hidden {
    display: none;
}