.idea-page {
    width: 100%;
    aspect-ratio: 4 / 1;
    background-color: transparent;
    color: var(--white);
    font-family: 'Prata', serif;
    transform: translateY(-26.8%);
    pointer-events: none;
}

.idea-page .line {
    background-color: var(--white);
    width: 100%;
    height: 0.5vw;
}

.idea-page .inside {
    font-size: 5vw;
    overflow: hidden;
    display: flex;
    pointer-events: none;
}

.idea-page .inside > span {
    transform: translateY(100%);
}

.idea-page .where {
    font-size: 4.6vw;
    background-color: var(--black);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    height: 50%;
}

.idea-page .where > span {
    overflow: hidden;
    transform: translateY(-100%);
}

.idea-page .reality {
    overflow: hidden;
    transform: translateY(-100%);
    margin-left: 1vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.idea-page .reality input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 4.6vw;
    font-family: 'Prata', serif;
    color: var(--white);
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    align-items: center;
}

.idea-page .reality .output {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    align-items: center;
}

.slide-up {
    animation-delay: 1s;
    animation: slide-up 1s ease forwards;
}

.slide-down {
    animation-delay: 1s;
    animation: slide-down 1s ease forwards;
}

.slide-down-reality {
    animation-delay: 1s;
    animation: slide-down-reality 1s ease forwards;
}

.idea-page .reality .output .word {
    margin-right: 1.92%;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(17%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-5%);
    }
}

@keyframes slide-down-reality {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-30%);
    }
}