.intro-page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.cat-path {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cat-path svg {
    width: 100%;
    height: auto;
}

.cat-path path {
    fill: none;
    stroke: var(--white);
    stroke-width: 0.2;
}

.intro-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    margin-top: 30rem;
}

.intro-text .fold {
    background-color: var(--red);
    height: 100%;
    z-index: 5;
    clip-path: polygon(0 0, 0 0, 0 0);
    pointer-events: all;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: clip-path 1s ease;
}

.intro-text .fold-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.intro-text .hover-background {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--light-red);
    font-family: 'Prata', serif;
    font-size: 2vw;
}

.intro-text .instructions {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--white);
    font-family: 'FilledOrigami', serif;
    padding-left: 2%;
    font-size: 4.2vw;
}

.intro-text .fold.show {
    clip-path: polygon(0 0, 0 30%, 8% 0);
}

.intro-text .fold:hover {
    clip-path: polygon(0 0, 0 200%, 200% 0);
}

.intro-text .paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-size: 3vw;
    pointer-events: none;
}

.intro-text div {
    display: flex;
}

.intro-text .letter {
    transform: translateY(100%);
}

.intro-text #first-line .letter.why-not {
    transform: translate(0);
}

.intro-text .letter.type {
    transform: translateY(-10%);
    font-family: 'Space Mono', monospace;
    opacity: 0;
    border-right: 1px solid var(--white);
    border-left: 5px solid var(--black);
    box-sizing: content-box;
    animation: blink 1s steps(1) infinite;
}

.intro-text .letter-wrapper.colorful {
    font-family: 'FilledOrigami', sans-serif;
    margin-top: 1%;
}

.intro-text .letter-wrapper.why-not,
.intro-text .letter-wrapper.question {
    color: var(--yellow);
    font-family: 'Prata', serif;
}

.intro-text .letter-wrapper.why-not {
    overflow: visible;
    font-style: italic;
}

.intro-text .letter-wrapper.red {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.intro-text .letter.red {
    grid-area: 1 / 1 / -1 / -1;
}

.intro-text .letter.red.clone {
    grid-area: 1 / 1 / -1 / -1;
    z-index: 1;
    color: var(--red);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

.intro-text .letter-wrapper.type,
.intro-text .letter-wrapper.drag {
    overflow: visible;
}

@keyframes blink {
    50% {
        border-right-color: transparent;
    }
}
