.intro-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Prata', serif;
    pointer-events: all;
}

.cat-path {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.intro-page .text-container-wrapper {
    grid-area: 1 / 1 / -1 / -1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro-page .text-container {
    grid-area: 1 / 1 / -1 / -1;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro-page .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
    font-size: 2vw;
}

.intro-page .why-not {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.intro-page .why-not path {
    fill: transparent;
}

.intro-page .halfline {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
    z-index: 2;
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
}