.project-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.project-layout {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 9fr;
}

.pixel-grid-container {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel-grid {
    display: grid;
    grid-template-columns: repeat(var(--pixel-cols), var(--pixel-length));
    grid-template-rows: repeat(var(--pixel-rows), var(--pixel-length));
}

.pixel-grid div {
    width: var(--pixel-length);
    height: var(--pixel-length);
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    --pixel-color: var(--ghost);
    border: 0.5px solid var(--pixel-color);
    transition: border 0.5s ease;
}

.project-page .bar-container {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.project-page .bar {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
}

.project-page .bar .card {
    width: 13%;
    aspect-ratio: 2 / 1;
    opacity: 0.3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    --card-color: var(--black);
    box-sizing: border-box;
    z-index: 4;
    pointer-events: all;
    border: 2px solid var(--ghost);
    transition: opacity 0.5s ease, border 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.project-page .bar .card .thumbnail {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-page .bar .card .thumbnail img {
    width: 100%;
    pointer-events: none;
}

.project-page .bar .card:hover {
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid var(--card-color);
    width: 17%;
}

.project-page .bar .card.clicked {
    opacity: 1;
    border: 2px solid var(--card-color);
    width: 17%;
}

.project-page .paper-container {
    grid-area: 2 / 1 / -1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.project-page .paper-container .picture-container {
    grid-area: 1 / 1 / -1 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.project-page .paper-container .picture-container .picture {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    --gravity-x: 10vw;
    --gravity-y: 10vh;
    --gravity-rotation: 0deg;
}

.project-page .paper-container .picture-container .picture.top {
    z-index: 3;
}

.project-page .paper-container .picture-container .picture.bot {
    z-index: 1;
}

.project-page .paper-container .picture-container .picture.show {
    animation: slide-in-left 1s ease forwards;
}

.project-page .paper-container .picture-container .picture.fall {
    animation: gravity-fall 0.6s ease;
}

.project-page .paper-container .picture-container .picture img {
    width: 100%;
}

.project-page .paper-container .text {
    grid-area: 1 / 2 / -1 / -1; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes gravity-fall {
    0% { 
        transform: translateX(0) translateY(0) rotate(0);
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }
    69.0983% { 
        transform: translateX(calc(var(--gravity-x) / 2)) translateY(var(--gravity-y)) rotate(calc(var(--gravity-rotation) / 2));
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333) ;
    }
    100% { 
        transform: translateX(var(--gravity-x)) translateY(100vh) rotate(var(--gravity-rotation));
    }
}