.reality-page-wrapper {
    position: block;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 80vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.reality-line-wrapper {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
}

.reality-line-wrapper .no-select {
    font-family: 'Prata', serif;
    font-size: calc(3vw);
    color: var(--white);
    mix-blend-mode: difference;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
}

.reality-page {
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.reality-page-span {
    grid-area: 1 / 1 / -1 / -1;
}

#reality-container {
    z-index: 0;
}

#reality-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reality-text {
    font-family: 'Prata', serif;
    color: var(--white);
    font-size: 1.6vw;
}

.reality-text div {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.reality-text .word {
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.reality-text .word.show {
    opacity: 1;
}

