.spec-section {
    width: 100%;
    aspect-ratio: 4 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: var(--white);
    padding: 0;
    margin: 0;
}

.spec-section .full-span {
    grid-area: 1 / 1 / -1 / -1;
}

.spec-section .centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spec-section .overlay {
    clip-path: polygon(0 0, 0 0, 0 0);
    transition: clip-path 1s ease;
    pointer-events: all;
    z-index: 4;
}

.spec-section .overlay.show-fold {
    clip-path: polygon(0 0, 0 14vw, 10vw 0);
    pointer-events: all;
}

.spec-section .overlay.show-fold:hover {
    clip-path: polygon(0 0, 0 121vw, 121vw 0);
}

.language {
    color: var(--black);
    font-family: 'Space Mono', monospace;
    font-size: 18vw;
    z-index: 1;
}

.language-wrapper .background {
    background-color: var(--white);
}

.language-wrapper .list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.language-wrapper .list-wrapper .list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 4vw;
    z-index: 5;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    background-color: var(--black);
}

.language-wrapper .list-wrapper .list p {
    flex-grow: 1;
    font-family: 'Space Mono', monospace;
    font-size: 2vw;
    color: var(--white);
    text-align: center;
    z-index: 6;
}

.language-wrapper .overlay {
    background-color: var(--red);
}






















.strengths-wrapper .background {
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

.strengths-wrapper .list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.strengths-wrapper .list-wrapper .list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 3vw;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    background-color: var(--white);
}

.strengths-wrapper .list-wrapper .list p {
    flex-grow: 1;
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    color: var(--black);
    text-align: center;
    z-index: 10;
}

.strengths {
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
    font-size: 18vw;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.strengths-wrapper .overlay {
    background-color: var(--yellow);
}















.hobbies-wrapper .background {
    background-color: var(--white);
}

.hobbies-wrapper .list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.hobbies-wrapper .list-wrapper .list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 1vw;
    z-index: 10;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    background-color: var(--black);
}

.hobbies-wrapper .list-wrapper .list p {
    flex-grow: 1;
    font-family: 'Shrikhand', serif;
    font-size: 2vw;
    color: var(--white);
    text-align: center;
    z-index: 10;
}

.hobbies {
    color: var(--black);
    font-family: 'Shrikhand', serif;
    font-size: 18vw;
    z-index: 1;
}

.hobbies-wrapper .overlay {
    background-color: var(--blue);
}








@keyframes foldPull {
    0% {
        clip-path: polygon(0 0, 0 4vw, 4vw 0);
    }
    100% {
        clip-path: polygon(0 0, 0 6vw, 6vw 0);
    }
}





