.spec-page-wrapper {
    position: block;
    background-color: var(--black);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: calc(var(--spec-rows) * var(--spec-length));
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: -10;
}

.spec-tsunami {
    width: max-content;
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    background-color: transparent;
}

.spec-page-span {
    grid-area: 1 / 1 / -1 / -1;
}

.spec-wave {
    width: 100%;
    height: max-content;
}

.spec-grid-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: transparent;
}

.spec-grid-wrapper .spec-grid {
    grid-area: 1 / 1 / -1 / -1;
}

.spec-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--spec-cols), var(--spec-length));
    grid-template-rows: repeat(var(--spec-rows), var(--spec-length));
}

#square-wave span {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing:border-box;
}

#square-wave span div {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border: 1px solid var(--black);
}

#fold-grid {
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
}

#fold {
    background-color: var(--black);
    background-image: -webkit-linear-gradient(315deg, var(--white) 50%, var(--black) 50%);
}

.spec-page {
    position: relative;
    pointer-events: none;
    font-family: 'DM Sans', sans-serif;
    color: var(--white);
    mix-blend-mode: difference;
    z-index: 2;
}

#square-wave {
    z-index: 1;
}

.spec-page .header {
    font-size: 2.6vw;
    margin-top: 0.4vw;
}

.spec-page .text {
    font-size: 1.6vw;
    display: flex;
    align-items: end;
    margin-top: 3.5vw;
}

.spec-grid .first-margin-row {
    grid-row-start: 1;
    grid-row-end: 2;
}

.spec-grid .first-header-row {
    grid-row-start: 2;
    grid-row-end: 3;
}

.spec-grid .first-col {
    grid-column-start: 2;
    grid-column-end: 12;
}

.spec-grid .second-col {
    grid-column-start: 13;
    grid-column-end: 23;
}

.spec-grid .third-col {
    grid-column-start: 24;
    grid-column-end: 34;
}

.spec-grid .second-text-row {
    grid-row-start: 4;
    grid-row-end: 5;
}

.spec-grid .third-text-row {
    grid-row-start: 6;
    grid-row-end: 7;
}

.spec-grid .fourth-text-row {
    grid-row-start: 8;
    grid-row-end: 9;
}

.spec-grid .fifth-text-row {
    grid-row-start: 10;
    grid-row-end: 11;
}

.spec-grid .sixth-text-row {
    grid-row-start: 13;
    grid-row-end: 14;
}

#backdrop {
    width: 100%;
    grid-area: 1 / 1 / -1 / -1;
}