.who-overlay {
    position: absolute;
    top: 0;
    left: 0;
    grid-area: 1 / 1 / -1 / -1;
    z-index: 20;
    width: 300vw;
    height: 300vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.cat-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.cat-fill .cat-svg-wrapper {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cat-fill path {
    fill: var(--yellow);
}

.who-background {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-size: 6vh;
    font-weight: 500;
}

.transition {
    font-size: 4vh;
}

.who-background .tunnel-wrapper {
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: var(--white);
    border-bottom: 0.5vh solid var(--black);
    flex-grow: 1;
}

.cat-background .tunnel-wrapper {
    background-color: var(--blue);
}

.who-background .tunnel {
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
}

.who-background .tunnel.move {
    animation: slideText 80s linear infinite;
}

.who-background .tunnel span {
    display: inline-block;
    margin-right: 0.5em;
    color: var(--black);
}

.who-background .tunnel-wrapper:first-child {
    border-top: 0.5vh solid var(--black);
}

.who-background .tunnel-wrapper.designer {
    font-family: 'Playfair Display', serif;
}

.who-background .tunnel-wrapper.professional {
    font-family: 'Roboto', sans-serif;
}

.who-background .tunnel-wrapper.developer {
    font-family: 'Space Mono', monospace;
}

.who-background .tunnel-wrapper .not {
    color: var(--red);
    margin: 0;
    padding: 0;
}

.cat-background {
    grid-area: 1 / 1 / -1 / -1;
    -webkit-mask-image: url("/Media/catPath.svg");
    mask-image: url("/Media/catPath.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    mask-position: bottom;
}

@keyframes slideText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.who-page .transition {
    z-index: 19;
}

.who-page .transition .tunnel-wrapper {
    background-color: var(--black);
    clip-path: polygon(0 0, 41% 0, 41% 100%, 0% 100%);
}

.who-page .transition span {
    color: var(--white);
}

.transition .tunnel-wrapper span {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    margin: 0;
}

.transition .tunnel-wrapper .but {
    color: var(--yellow);
    font-family: 'Prata', serif;
    font-style: italic;
}

.transition .tunnel-wrapper .name {
    font-family: 'Prata', serif;
}

.transition .tunnel-wrapper .creative span {
    animation: getBig 1s infinite alternate;
}

.transition .tunnel-wrapper .creative span:nth-child(1) {
    color: var(--red);
    animation-delay: 0.1s;
}

.transition .tunnel-wrapper .creative span:nth-child(2) {
    color: var(--yellow);
    animation-delay: 0.2s;
}

.transition .tunnel-wrapper .creative span:nth-child(3) {
    color: var(--blue);
    animation-delay: 0.3s;
}

.transition .tunnel-wrapper .creative span:nth-child(4) {
    color: var(--green);
    animation-delay: 0.4s;
}

.transition .tunnel-wrapper .creative span:nth-child(5) {
    color: var(--red);
    animation-delay: 0.5s;
}

.transition .tunnel-wrapper .creative span:nth-child(6) {
    color: var(--yellow);
    animation-delay: 0.6s;
}

.transition .tunnel-wrapper .creative span:nth-child(7) {
    color: var(--blue);
    animation-delay: 0.7s;
}

.transition .tunnel-wrapper .creative span:nth-child(8) {
    color: var(--green);
    animation-delay: 0.8s;
}

@keyframes getBig {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

.transition .tunnel-wrapper .jump span {
    animation: jumpAnimation 2s infinite;
    color: var(--green);
}

.transition .tunnel-wrapper .fast span {
    color: var(--yellow);
    animation: runAnimation 3s infinite;
}

.transition .tunnel-wrapper .jump span:nth-child(1) {
    animation-delay: 0.4s;
}

.transition .tunnel-wrapper .jump span:nth-child(2) {
    animation-delay: 0.3s;
}

.transition .tunnel-wrapper .jump span:nth-child(3) {
    animation-delay: 0.2s;
}

.transition .tunnel-wrapper .jump span:nth-child(4) {
    animation-delay: 0.1s;
}

@keyframes runAnimation {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    10% {
        transform: translateX(10vw);
        opacity: 0;
    }
    20% {
        transform: translateX(-10vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.transition .tunnel-wrapper .fast span:nth-child(1) {
    animation-delay: 0.4s;
}

.transition .tunnel-wrapper .fast span:nth-child(2) {
    animation-delay: 0.3s;
}

.transition .tunnel-wrapper .fast span:nth-child(3) {
    animation-delay: 0.2s;
}

.transition .tunnel-wrapper .fast span:nth-child(4) {
    animation-delay: 0.1s;
}

.transition .tunnel-wrapper .better span {
    color: #50C878;
}

.transition .tunnel-wrapper .better span:nth-child(3) {
    animation: up4 1.5s infinite alternate;
}

.transition .tunnel-wrapper .better span:nth-child(4) {
    animation: up16 1.5s infinite alternate;    
}

.transition .tunnel-wrapper .better span:nth-child(5) {
    animation: up32 1.5s infinite alternate;
}

.transition .tunnel-wrapper .better span:nth-child(6) {
    animation: up48 1.5s infinite alternate;
}

@keyframes up4 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-4%);
    }
}

@keyframes up16 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-16%);
    }
}

@keyframes up32 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-32%);
    }
}

@keyframes up48 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-48%);
    }
}

.transition .tunnel-wrapper.main {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.transition .tunnel-wrapper.main .tunnel span {
    font-family: 'Prata', serif;
    font-size: 6vh;
}

.transition .tunnel-wrapper .scroll span {
    color: var(--white);
    font-size: 3vh;
    font-family: "Pixelify Sans", sans-serif;
}

.transition .tunnel-wrapper.main.why-not {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition .tunnel-wrapper .tunnel.why-not span {
    color: var(--yellow);
    font-style: italic;
    margin-left: 11em;
    margin-right: 1em;
}

.transition .tunnel-wrapper .scroll span .projects {
    color: var(--blue);
}
