.who-overlay {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.tunnel-collection {
    grid-area: 1 / 1 / -1 / -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cat-background {
    -webkit-mask-image: url("/Media/catPath.svg");
    mask-image: url("/Media/catPath.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    mask-position: bottom center;
    z-index: 1;
}

.tunnel-wrapper {
    background-color: transparent;
    border-bottom: 1.125vh solid var(--black);
    flex-grow: 1;
    flex-basis: 0;
}

.tunnel {
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
}

.tunnel.move {
    animation: slideText 100s linear infinite;
}

.tunnel span {
    display: inline-block;
    margin-right: 0.5em;
    color: var(--black);
    font-size: 9vh;
}

.tunnel-wrapper .not {
    color: var(--red);
    margin: 0;
    padding: 0;
}

@keyframes slideText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.tunnel-wrapper.designer {
    font-family: 'Playfair Display', serif;
}

.tunnel-wrapper.professional {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.tunnel-wrapper:first-child {
    border-top: 1.125vh solid var(--black);
}

.transition-background {
    z-index: 2;
}

.transition-background .tunnel-wrapper {
    background-color: var(--black);
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

.transition-background .tunnel-wrapper,
.transition-background .tunnel-wrapper span {
    color: var(--white);
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 4vh;
    margin: 0;
}

.transition-background .tunnel-wrapper .but {
    color: var(--yellow);
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 6vh;
}

.transition-background .tunnel-wrapper .jump span {
    animation: jumpAnimation 2s infinite;
    color: var(--blue);
}

.transition-background .tunnel-wrapper .jump span:nth-child(1) {
    animation-delay: 0.4s;
}

.transition-background .tunnel-wrapper .jump span:nth-child(2) {
    animation-delay: 0.3s;
}

.transition-background .tunnel-wrapper .jump span:nth-child(3) {
    animation-delay: 0.2s;
}

.transition-background .tunnel-wrapper .jump span:nth-child(4) {
    animation-delay: 0.1s;
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

.transition-background .tunnel-wrapper .fast span {
    color: var(--red);
    animation: runAnimation 3s infinite;
}

@keyframes runAnimation {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    10% {
        transform: translateX(10vw);
        opacity: 0;
    }
    20% {
        transform: translateX(-10vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.transition-background .tunnel-wrapper .fast span:nth-child(1) {
    animation-delay: 0.4s;
}

.transition-background .tunnel-wrapper .fast span:nth-child(2) {
    animation-delay: 0.3s;
}

.transition-background .tunnel-wrapper .fast span:nth-child(3) {
    animation-delay: 0.2s;
}

.transition-background .tunnel-wrapper .fast span:nth-child(4) {
    animation-delay: 0.1s;
}

.transition-background .tunnel-wrapper .better span {
    color: var(--green);
}

.transition-background .tunnel-wrapper .better span:nth-child(3) {
    animation: moveUp 1.5s infinite alternate;
    --percentage: -4%;
}

.transition-background .tunnel-wrapper .better span:nth-child(4) {
    animation: moveUp 1.5s infinite alternate;
    --percentage: -16%;    
}

.transition-background .tunnel-wrapper .better span:nth-child(5) {
    animation: moveUp 1.5s infinite alternate;
    --percentage: -32%;
}

.transition-background .tunnel-wrapper .better span:nth-child(6) {
    animation: moveUp 1.5s infinite alternate;
    --percentage: -48%;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(var(--percentage, 0));
    }
}

.transition-background .tunnel.main {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Prata', serif;
    font-size: 5vh;
}

.transition-background .tunnel.final .but {
    margin-right: 1%;
}